body {
    width: 990px;
    height: 600px;
 
    background: whitesmoke;
}





section#container {
    margin: 0 auto;
    width: 600px;
    height: 550px;
    margin-left: 350px;
    margin-top: 50px;
    background-color: #333;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

form#feedback {
    display: inline-grid;
    margin-left: 150px;
    padding-top: 10px;
}

input#name {
    height: 30px;
    font-family: 'Open Sans', sans-serif;
}
input#email {
    height: 30px;
    font-family: 'Open Sans', sans-serif;
}

textarea#message {
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    
}

button#submit {
    width: 100px;
    height: 30px;
    color: whitesmoke;
    background: black;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    margin-left: 100px;
}

button#submit:hover {
    background-color: darkblue;
}

label {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    padding-bottom: 10px;
}